@model IEnumerable<Product>

@{
    ViewData["Title"] = "Index";
}
<div id="page-wrapper" style="background-color:#202020">
    <div id="page-inner" style="background-color:#202020 !important">
<h1 style="color:white">Index</h1>

<p>
    <a asp-action="Create">Create New</a>
</p>
<table class="table">
    <thead>
        <tr style="color:white">
            <th>
                @Html.DisplayNameFor(model => model.Name)
            </th>
            <th>
               Image
            </th>
            <th>
                @Html.DisplayNameFor(model => model.Price)
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
@foreach (var item in Model) {
        <tr style="color:white">
            <td>
                @item.Name
            </td>
            <td>
                    <img style="width:180px;" src="~/images/@item.Url" alt="">
            </td>
            <td>
                $@item.Price
            </td>
            <td>
                <a asp-action="Edit" asp-route-id="@item.Id">Edit</a> |
                <a asp-action="Details" asp-route-id="@item.Id">Details</a> |
                <a asp-action="Delete" asp-route-id="@item.Id">Delete</a>
            </td>
        </tr>
}
    </tbody>
</table>
</div>
</div>
