@using EdgeCut.Entities
@{
    ViewData["Title"] = "Home Page";
}
<section class="furniture_section layout_padding">
    <div class="container">
        <div class="heading_container">
            <h2>
                Our Furniture
            </h2>
            <p>
                which don't look even slightly believable. If you are going to use a passage of Lorem Ipsum, you need to be sure there isn't an
            </p>
        </div>
        <div class="row">
            @await Component.InvokeAsync("Product");
            @* @Html.Partial("_ProductPartial") *@
            @* <partial name="_ProductPartial" /> *@
        </div>
    </div>
</section>

@Html.Partial("_AboutPartial")

 @Html.Partial("_BlogPartial")

@Html.Partial("_TestimonialPartial")
@Html.Partial("_ContactPartial")
@Html.Partial("_EndPartial")

